@model List<Emprestimo>
@{
    ViewData["Title"] = "Listagem de Empréstimos";
   

}
<div class="row">
    <div class="col-md-12">
        <form class="form-inline" method="POST">
            <div class="form-group mb-2">
                <select name="TipoFiltro" class="form-control">
                    <option value="Usuario">Usuário</option>
                    <option value="Livro">Livro</option>
                </select>
            </div>

            <div class="form-group mb-2 mx-sm-3">
                <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
            </div>
            <div class="form-group mb-2 mx-sm-3">
                <select name="ItensPorPagina" id="ItensPorPagina">
                    <option value="10">10 Emprestimos</option>
                    <option value="15">15 Emprestimos</option>
                    <option value="30">30 Emprestimos</option>
                    <option value="@Model.Count">Todos</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>

            <div id="SeletorPaginas" class="form-group mb-2 mx-sm-3">
                <span>Página: </span>
              
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table table-striped">
            @if (Model.Count > 0)
            {
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Data Empréstimo</th>
                        <th>Data Devolução</th>
                        <th>Livro</th>
                        <th>Autor</th>
                        <th>Devolvido</th>
                        <th></th>
                    </tr>
                </thead>
            }
            else
            {
<h3>Nenhum resultado encontrado</h3>
            }

                <tbody>
                   
                        @foreach (Emprestimo emp in Model)
                        {
                            

                            LivroService livroService = new LivroService();

                            Livro livro = livroService.ObterPorId(emp.LivroId);

                            <tr>
                                <td>@emp.Id</td>
                                <td>@emp.NomeUsuario</td>
                                <td>@emp.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                                <td>@emp.DataDevolucao.ToString("dd/MM/yyyy")</td>
                                <td>@emp.Livro.Titulo</td>
                                <td>@emp.Livro.Autor</td>
                                

                                @if (emp.Devolvido)
                                { 
                                    <td>Sim</td>
                                }
                                else
                                { 
                                    <td>Não</td>
                                }

                                <td><a href="/Emprestimo/Edicao/@emp.Id">Editar</a></td>

                            </tr>
                        }
                    
                </tbody>

        </table>
    </div>
</div>
